<div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="notificationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="notificationModalLabel">Notificaciones</h5>
          <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="max-height: 400px; overflow-y: auto;">
            <div *ngFor="let notification of notifications">
                <div [ngClass]="{
                    'alert': true,
                    'alert-danger': notification.type === 'danger',
                    'alert-warning': notification.type === 'warning',
                    'alert-info': notification.type === 'info'
                  }" role="alert">
                    {{ notification.message }}
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  