<!-- Navbar -->


<!-- Estructura principal usando flexbox para ocupar toda la altura -->
<div class="d-flex flex-column min-vh-100">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Caticks Manager</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto"> <!-- Los enlaces de navegación alineados a la izquierda -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/resume">Registros por trabajador</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/resume_details">Detalles de registros</a>
          </li>
        </ul>
        <ul class="navbar-nav"> <!-- Ícono de alertas alineado a la derecha -->
          <li class="nav-item">
            <a class="nav-link position-relative me-5 d-none d-lg-block cursor-pointer" (click)="openNotificationModal()">
              <i class="fas fa-bell"></i> <!-- Ícono de campana -->
              <span class="position-absolute top-10 start-100 translate-middle badge rounded-pill bg-danger">
                5 <!-- Número de alertas -->
              </span>
            </a>
          </li>
        </ul>
        <!-- Ítem de Notificaciones que se muestra solo en modo colapsado -->
        <ul class="navbar-nav d-lg-none"> <!-- Se muestra solo en pantallas pequeñas -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/notifications">Notificaciones</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>




  <div class="container flex-grow-1 d-flex align-items-center justify-content-center">
    <router-outlet></router-outlet> <!-- Aquí se cargarán las vistas dinámicas -->
  </div>

  <!-- Footer -->
  <footer class="bg-light text-center text-lg-start mt-4">
    <div class="container p-4 d-flex justify-content-between align-items-center">
      <p>&copy; 2024 Caticks Manager - Todos los derechos reservados</p>
      <p>Hora actual: {{ currentTime }}</p> <!-- Reloj alineado a la derecha -->
    </div>
  </footer>

  <app-notification-modal></app-notification-modal>



</div>